<!DOCTYPE html>
<html>
  <head>
    <title>Liminal Pages Bookshop</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div id="leftHeader">
        <a href="{{ url_for('home')}}">
          <img class="logoImg"
               src="{{ url_for('static', filename='images/misc/logo.jpg') }}"
               alt="Liminal Pages Bookshop logo">
        </a>
      </div>

      <div id="midHeader">
        <form id='searchBoxForm' action="{{ url_for('search') }}" method="post">
          <input id='searchBox' type='text' placeholder='Book Title Search' name="search">

          <!-- FIXED -->
          <input id="searchIcon" type="image"
                 src="{{ url_for('static', filename='images/misc/search-icon.png') }}"
                 alt="Search icon">
        </form>

        <div class="dropdown">
          <p class="dropdownSelect">Select Category</p>
          <div class="dropdownContent">
            {% for category in categories %}
              <p>
                <a href="{{ url_for('category', categoryid=category['categoryid']) }}">
                  {{ category['categoryname'].replace('_', ' ') }}
                </a>
              </p>
            {% endfor %}
          </div>
        </div>
      </div>

      <div id="rightHeader">
        <div id="cartIcon">
          <a href="#">
            <!-- FIXED -->
            <img src="{{ url_for('static', filename='images/misc/cart-icon.jpg') }}"
                 alt="Shopping cart icon">
          </a>
        </div>
        <div id='cartCount'>1 item</div>
        <div class='loginButton'><a href='#'>login</a></div>
      </div>
    </header>

    <main>{% block container %} {% endblock %}</main>

    <footer>
      <div id="footerLeft">
        <p>&copy; Liminal Pages Bookshop</p>
        <a href="#">Contact Us</a>
        <a href="#">Directions</a>
      </div>

      <div id="footerRight">
        <a href="#">
          <!-- FIXED -->
          <img src="{{ url_for('static', filename='images/misc/facebook-icon.jpg') }}"
               alt="Facebook icon">
        </a>
        <a href="#">
          <!-- FIXED -->
          <img src="{{ url_for('static', filename='images/misc/twitter-icon.jpg') }}"
               alt="Twitter icon">
        </a>
      </div>
    </footer>
  </body>
</html>
