{% extends 'base.html' %}

{% block container %}
<main>
    <div id="mainLeft">
        <h1 class="welcomeText">Welcome to Liminal Pages Bookshop!</h1>
        <p class="welcomeText">A curated collection of strange, beautiful, and unforgettable stories,</p>
        <p class="welcomeText">handpicked for curious, thoughtful readers.</p>
        <p class="welcomeText">Discover your next favorite book.</p>
    </div>
    <div id='mainRight'>
        <h1>Shop by genre:</h1>
        <div id='categorySelections'>
            {% for category in categories %}
                <div class='category'>
                    <p>
                        <a href="{{ url_for('category', categoryid=category['categoryid']) }}">
                            {{ category['categoryname'].replace('_', ' ') }}
                        </a>
                    </p>
                    
                    <a href="{{ url_for('category', categoryid=category['categoryid']) }}">
                        <img class="categoryImg"
                             src="{{ url_for('static',
                                    filename='images/categories/' ~ category['categoryname'] ~ '.jpg') }}"
                             alt="{{ category['categoryname'].replace('_', ' ') }}">
                    </a>
                </div>
            {%endfor%}

        </div>
    </div>
</main>
{% endblock %}
